html, body {
    background-color: #0f0f0f;
    color: #e4e4e4;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

body {
    padding: 2rem;
    height: calc(100svh - 4rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
}

::selection {
    background: #ffffff22;
}

main {
    margin-bottom: 5svh;
}

h1, .date {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: -0.04em;
    line-height: 1.125em;
}

.date {
    font-size: 1rem;
    font-weight: 500;
    color: #7a7a7a;
    letter-spacing: 0.02em;
    line-height: 1em;
    text-transform: uppercase;
    margin-bottom: 0.75rem;
}

a {
    color: #e4e4e4;
    fill: #e4e4e4;
    cursor: pointer;
}

.socials {
    display: flex;
    gap: 1.5rem;
}

.instagram-link svg {
    height: 1.5rem;
    cursor: pointer;
}

.coming-soon {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1em;
    color: #373737;
}

@media (max-width: 390px) {
    h1 {
        font-size: 2rem;
    }
}

@media (min-width: 1920px) {
    .content {
        max-width: 1600px;
        margin: auto;
    }
}

@media (pointer: fine) {
    a {
        transition: all 0.2s;
    }
    a:hover {
        opacity: 0.6;
    }
}